@use "../../sass/index.scss" as *;

$padding: px-to-rem(16px);

.nav {
	max-width: calc(map-get($containers, lg) - 16px);
	margin: auto;
	padding-inline: $padding;
	padding-top: px-to-rem(40px);

	.top {
		display: flex;
		gap: px-to-rem(16px);
		align-items: center;
		@include custom-media-query("mobile", map-get($breakpoints, tablet)) {
			padding-block: px-to-rem(24px);
		}

		.logo {
			max-width: 210px;
			@include custom-media-query("mobile", map-get($breakpoints, tablet)) {
				max-width: 150px;
			}
		}

		.help {
			margin-left: auto;
			font-weight: 600;
			align-self: center;
			font-size: 16px;
			gap: 8px;
			display: flex;
			align-items: center;
			cursor: pointer;
			.circle {
				padding: px-to-rem(1px, 1em) px-to-rem(8px, 1em);
				border-radius: 50px;
				border: 2px solid black;
			}
		}
	}

	.bottom {
		max-width: px-to-rem(794px);
		margin: auto;
		margin-top: px-to-rem(40px);

		@include custom-media-query("mobile", map-get($breakpoints, tablet)) {
			display: none;
		}
	}

	.menuWrapper {
		display: flex;
		justify-content: space-between;
		gap: px-to-rem(16px);
	}
}
